<p>list works!</p>

<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="fromEvent">From-Event</a>
      </li>
      <li>
        <a routerLink="interval">Interval</a>
      </li>
      <li>
        <a routerLink="of-from">Of-from</a>
      </li>
      <li>
        <a routerLink="to-array">ToArray</a>
      </li>
      <li>
        <a routerLink="cust-observable">Custom Observable</a>
      </li>
      <li>
        <a routerLink="map">Map</a>
      </li>
      <li>
        <a routerLink="pluck">Pluck</a>
      </li>
    </ul>
  </div>
</div>
